@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'Ubuntu', sans-serif;
}

body > div > section {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

a {
  text-decoration: none;
  display: block;
}

header {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  background-color: rgb(47, 54, 74);
  align-items: center;
  margin-bottom: 20px;
}

.title a {
  color:rgb(255,255,255);
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
}

.header-links {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.header-links a {
  color: rgba(120, 130, 157, 0.8);
  padding: 20px 10px;
}

main {
  flex: 1 0 auto;
  width: 1170px;
  margin: 0 auto;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(24, 30, 44);
}

footer section {
  padding: 20px 0;
}

footer section:last-child {
  padding-top: 0;
}

footer section p {
  color: rgba(120, 130, 157, 0.8);
}